    
window.onerror = function(msg, url, line, column, trace) {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "{link //Logger:log}");
    xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xmlhttp.send("data=" + JSON.stringify({
        "host": window.location.hostname,
        "message": msg,
        "url": url,
        "line": line,
        "column": column,
        "trace": trace
    }));
    
}