{block content}
<table>
    <tr>
        <td>Message</td>
        <td>Url</td>
        <td>Line</td>
        <td>Column</td>
        <td>Time</td>
    </tr>
    {foreach $list as $item}
        <tr>
            <td>{$item->getMessage()}</td>
            <td>{$item->getUrl()}</td>
            <td>{$item->getLine()}</td>
            <td>{$item->getColumn()}</td>
            <td>{$item->getCreated()|date:'Y-m-d H:i:s'}</td>
        </tr>
    {/foreach}
</table>
