{block content}
<h1>This page throw an error</h1>

<a n:href="Test:test, throw => 1" class="btn btn-danger btn-md">Throw error</a>


{if $throw}
    <p>Error was throwed</p>
    
    <script src="tracker.js"></script>
    <script>
        callundefinedfunction();
    </script>
{/if}
